<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <!-- Forcer l'encodage UTF-8 sur toutes les JSP -->
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    
    <!-- Filtre permettant de restreindres les parties vues de l'application pour les utilisateurs non connecté -->
    <filter>
        <filter-name>EspaceMembreFilter</filter-name>
        <filter-class>com.clavardage.filters.EspaceMembreFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EspaceMembreFilter</filter-name>
        <url-pattern>/membres/*</url-pattern>
    </filter-mapping>
    
    <!-- Servlet pour effectuer un test unitaire -->
    <servlet>
        <servlet-name>TestUnitaireServlet</servlet-name>
        <servlet-class>com.clavardage.servlets.TestUnitaireServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestUnitaireServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet pour rediriger vers l'interface d'accueil -->
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <servlet-class>com.clavardage.servlets.Accueil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/accueil</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet pour gérer la création d'un compte utilisateur -->
    <servlet>
        <servlet-name>CreationCompte</servlet-name>
        <servlet-class>com.clavardage.servlets.CreationCompte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreationCompte</servlet-name>
        <url-pattern>/creer_compte</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet pour rediriger vers l'information du profil --> 
    <servlet>
        <servlet-name>InformationProfil</servlet-name>
        <servlet-class>com.clavardage.servlets.InformationProfil</servlet-class>
        <multipart-config>
            <file-size-threshold>1048576</file-size-threshold>   
            <max-file-size>10485760</max-file-size>
            <max-request-size>52428800</max-request-size>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>InformationProfil</servlet-name>
        <url-pattern>/membres/information_profil</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet pour l'authentification de l'utilisateur -->
    <servlet>
        <servlet-name>SeConnecter</servlet-name>
        <servlet-class>com.clavardage.servlets.SeConnecter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SeConnecter</servlet-name>
        <url-pattern>/seconnecter</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet pour afficher le profil (photo de profil, nom, prenom,... etc) d'un utilisateur -->
    <servlet>
        <servlet-name>Profil</servlet-name>
        <servlet-class>com.clavardage.servlets.Profil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profil</servlet-name>
        <url-pattern>/membres/profil</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet pour modifier les informations d'un utilisateur --> 
    <servlet>
        <servlet-name>ModificationProfil</servlet-name>
        <servlet-class>com.clavardage.servlets.ModificationProfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificationProfil</servlet-name>
        <url-pattern>/membres/modifier_profil</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet pour modifier la photo de profil d'un utilisateur -->
    <servlet>
        <servlet-name>ModificationPhoto</servlet-name>
        <servlet-class>com.clavardage.servlets.ModificationPhoto</servlet-class>
        <multipart-config>
            <file-size-threshold>1048576</file-size-threshold>   
            <max-file-size>10485760</max-file-size>
            <max-request-size>52428800</max-request-size>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificationPhoto</servlet-name>
        <url-pattern>/membres/modifier_photo</url-pattern>
    </servlet-mapping>
    
</web-app>
