.entete {
    background-color: #2e1169;
    padding: 5px;
}

.bg-image {
    background-image: url('../assets/background_image_accueil.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 83vh;
}

.pub {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 20px;
}