.entete {
    background-color: #2e1169;
    padding: 5px;
}

.row { margin: 0px !important; }

.liste-amis {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

@media screen and (max-width: 576px) {
    .liste-amis {
        grid-template-columns: 1fr; 
    }
}