.entete {
    background-color: #2e1169;
    padding: 5px;
}

form { 
    width: 50% !important; 
}

form > div {
    margin-top: 10px !important; 
}

.btn-creer, .btn-creer:hover {
    margin-top: 10px !important;
    background-color: #2e1169;
    border: none;
}

input:focus {
    box-shadow: none !important; 
    outline: none !important;
}

.btn-eye, .btn-eye:hover {
    border-top-color: #ced4da;
    border-right-color: #ced4da;
    border-bottom-color: #ced4da;
    border-left: none;
}