form { 
    width: 50% !important; 
}

form > div {
    margin-top: 10px !important; 
}

.btn-seconnecter, .btn-seconnecter:hover {
    margin-top: 10px !important;
    background-color: #2e1169;
    border: none;
}

input:focus {
    box-shadow: none !important; 
    outline: none !important;
}